html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-color: white;
    font-size: 14px;
    font-family: arial, sans-serif;
}
header, footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 4px;
}

header {
    align-self: flex-start;
}
footer {
    align-self: flex-end;
}
footer a {
    margin: 0 15px;
}
footer .right, .left {
    width: 333px;
}
footer .center a {
    margin: 0 6px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.left, .center, .right {
    display: inline-flex;
}
.left {
   justify-content: left; 
}
.center {
    justify-content: center;
}
.right {
    justify-content: right;
}

