html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-color: white;
    font-size: 14px;
    font-family: arial, sans-serif;
}

/* header and footer styles */
header, footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 4px;
}

header {
    align-self: flex-start;
    margin: 2px 9px;
}
header a {
    margin: 0 10px;
}
header .right a {    
    font-size: 13px;
}
footer {
    align-self: flex-end;
}
footer a {
    margin: 0 15px;
}
footer .right, .left {
    width: 333px;
}
footer .center a {
    margin: 0 6px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.left, .center, .right {
    display: flex;
    align-items: center;
}
.left {
   justify-content: left; 
}
.center {
    justify-content: center;
}
.right {
    justify-content: right;
}
#sign-in {
    background: #1a73e8;
    width: 50px;
    height: 18px;
    margin-right: 20px;
    padding: 9px 23px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
}
