body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.main-content {
    width: 100%;
}
.video-container {
    position: relative;
}

.video-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
