body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: HelveticNeue, sans-serif;
    font-size: 14px;
    color: #6a6d75;
}
a {
    text-decoration: none;
}
.orange-link {
    display: inline-block;
    background-color: #f26226;
    height: 40px;
    padding: 0 10px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
/* header styles */
header {
    position: fixed;
    z-index: 1;
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    height: 68px;
    width: 100%;
    background-color: white;
    border: 1px solid #6a6d75;
}
.left-header, .right-header {
    margin: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-header {
    width: 550px;
}
.right-header {
    width: 170px;
}
header a {
    color: #6a6d75;
    text-transform: uppercase;
    font-size: 13px;
}
/* main content styles */
.main-content {
    width: 100%;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 48px;
    color: white;
}
h2 {
    font-family: "Cera Pro", sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #303236;
}
/* video */
.video-container {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.video-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video-text .orange-link {
    height: 68px;
    width: 150px;
    line-height: 68px;
    font-size: 16px;
}

/* 3 steps */
.steps {
    width: 936px;
    text-align: left;
}
.steps p {
    font-family: "Cera Pro", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    color: #6a6d75;
}
.step1, .step2, .step3 {
    display: flex;
    align-items: center;
}
.image-container {
    width: 50%;
}
.text-container {
    width: 50%;
}

/* inside the box  */
.inside-the-box {
    background-image: url(images/inside-background.webp);
    background-size: cover;
    height: 1015px;
    width: 1170px;
    margin: 70px 0;
}
.inside-the-box .text-container {
    background: white;
    width: 840px;
    padding: 56px 53px;
    position: relative;
    top: 56px;
    margin: auto;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    width: 40%;
}

/* footers  */
.top-footer {
    background-color: #fafbfc;
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.top-footer .footer-box {
    flex-grow: 1;
}
.media-links img {
    height: 24px;
}
.bottom-footer {
    background-color: #0f346c;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-container {
    width: 1200px;
    padding: 50px;
}
.bottom-footer .footer-box {
    width: 140px;
    margin: 10px;
    display: inline-block;
    float: left;
    text-align: left;
}
#right-footer {
    float: right;
    text-align: right;
}